
</body>
<!-- <section class=""> -->
    <!-- Footer -->
    <footer class="text-center text-white mt-auto" style="background-color: #0a4275;">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: CTA -->
        <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <button type="button" class="btn btn-outline-light btn-rounded" style="background-color:white">
                <a target="_blank" href=https://www.nhtsa.gov/campaign/drive-sober-or-get-pulled-over rel="noopener noreferrer" style="color: black; text-decoration:none">Don't Drink and Drive</a>
            </button>
          </p>
        </section>
        <!-- Section: CTA -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  <!-- </section> -->

</html>