<%- include('../partials/header.ejs', { user }) %>


<div class="container-sm d-flex justify-content-center align-items-center">
    <div class="d-flex justify-content-center flex-xl-column">
        <h3 class="text-center">Login for a new account</h3>

<% if (message) { %>
    <p> <%= message %></p>
<% } %>

        <div class="">
            <form action="/users/login" method="POST">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required />
                
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required /> 
                
                <button class="btn btn-primary" type="submit">Login</button>
            </form>
        </div>

    </div>
</div>

<div class="container" style="width:100%; height:975px">

</div>
<%- include('../partials/footer.ejs') %>