<%- include('../partials/header', { user }) %>

<h3 class="text-center mt-4">Welcome to your profile, <%= user.email %> thanks for logging into the app</h3>

<form class="text-center mt-4" method="POST" action="/users/<%=user.id%>/?_method=PUT">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required>

    <label for="password">New Password:</label>
    <input type="password" name="password" id="password" required>

    <button class="btn btn-outline-dark" type="submit">Update Password</button>
</form>

<div class="container" style="width:100%; height:950px">

</div>
<%- include('../partials/footer') %> 